@import '../../styles/constants.scss';

.gameInfo {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    z-index: 10;
    display: flex;
    background-color: $primary;
    color: $text;
    height: $headerHeight;
    align-items: center;
    padding-left: 3rem;
    span {
        margin-right: 3rem;
    }
}