@import '../../styles/constants.scss';
.menu {
    width: 100%;
    min-height: 100%;
    form {
        display: grid;
        row-gap: 10%;
        column-gap: 20px;
        grid-template-columns: 0.8fr 2fr;
        grid-template-rows: 30px repeat(4, 25px) 100px;
        grid-template-areas: 
        "title title"
        "label1 input1"
        "label2 input2"
        "label3 input3"
        "label4 input4"
        "start start";
        box-sizing: border-box;
        width: 90%;
        max-width: 600px;
        height: 70vh;
        min-height: 400px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem 5rem 4rem 2rem;
        background-color: $primary;
        color: $text;
        label {
            display: flex;
            justify-content: flex-end;
        }
        h2 {
            grid-area: title;
            margin: 0;
        }
        .btnContainer {
            grid-area: start;
            display: flex;
            justify-content: center;
            align-items: center;
            button {
                width: 100px;
                height: 35px;
            }
        }
    }
    @media screen and (max-height: 630px){
        .tutorial {
            display: none;
        }
    }
}